<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GexHost.com</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header class="header">
      <div>
        <h2>GexHost</h2>
      </div>
      <nav>
        <ul class="navlist">
          <li class="navItems">Domain</li>
          <li class="navItems">Hostings</li>
          <li class="navItems">Pricing</li>
          <li class="navItems">Support</li>
        </ul>
      </nav>
      <div class="menubars">
        <i class="fa-solid fa-bars menu"></i>
      </div>
    </header>
    <div class="div333">
    <section class="hero">
      <h1 class="mainHeading">Find your perfect domain name</h1>
      <h3 class="subheading">Grab a .com starting at $12.95/yr*</h3>
      <div class="inputdiv">
        <input
          type="text"
          placeholder="Find Your Perfect Domain"
          class="input"
        />
        <button class="btn">Login</button>
      </div>
      <h4 class="para">Already have a domain? Transfer it to us</h4>
    </section>
    <section class="hero">
      <h3 class="mainHeading">One platform. Multiple Hosting</h3>
      <p>Pick your perfect web hosting plan. We got 'email.</p>
      </div>
      <div class="boxes">
        <div class="box">
          <h2 class="domain">.com</h2>
          <h1 class="price">$12.95/yr</h1>
        </div>
        <div class="box">
          <h2 class="domain">.com</h2>
          <h1 class="price">$12.95/yr</h1>
        </div>
        <div class="box">
          <h2 class="domain">.com</h2>
          <h1 class="price">$12.95/yr</h1>
        </div>
        <div class="box">
          <h2 class="domain">.com</h2>
          <h1 class="price">$12.95/yr</h1>
        </div>
      </div>

      <div class="hosting">
        <h1>Website Hosting Features</h1>
        <p>
          Experience seamless online performance with our reliable hosting
          services. Enjoy 99.9% uptime, SSD storage arrays, and 24/7 expert
          support for a smooth online experience.
        </p>
        <button class="btn">Discover More</button>
      </div>
    </section>
    <footer>
      <div class="footer">
        <div>
          <h3 class="links">Company</h3>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div>
          <h3 class="links">Hostings</h3>
          <ul>
            <li><a href="#">Web Hosting</a></li>
            <li><a href="#">WordPress Hosting</a></li>
            <li><a href="#">Shared Hosting</a></li>
          </ul>
        </div>
        <div>
          <h3 class="links">Domains</h3>
          <ul>
            <li><a href="#">Register Domains</a></li>
            <li><a href="#">Transfer Domains</a></li>
            <li><a href="#">Manage Domains</a></li>
          </ul>
        </div>
        <div>
          <h3 class="links">Support</h3>
          <ul>
            <li><a href="#">Customer Portal</a></li>
            <li><a href="#">Help Support</a></li>
          </ul>
        </div>
      </div>
      <div>
        <p>© 2024 GexHost — All Rights Reserved</p>
      </div>
    </footer>
    <script src="script.js"></script>
  </body>
</html>
